.ventana-de-mis {
  background-color: #cce7b7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ventana-de-mis .div-9 {
  background-color: #cce7b7;
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.ventana-de-mis .overlap-32 {
  height: 919px;
  left: 0;
  position: absolute;
  top: 161px;
  width: 1921px;
}

.ventana-de-mis .overlap-33 {
  height: 919px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1921px;
}

.ventana-de-mis .rectangle-53 {
  height: 884px;
  left: 421px;
  position: absolute;
  top: 35px;
  width: 1499px;
}

.ventana-de-mis .rectangle-54 {
  height: 36px;
  left: 421px;
  position: absolute;
  top: 0;
  width: 1499px;
}

.ventana-de-mis .text-wrapper-144 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 35px;
  left: 421px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1500px;
}

.ventana-de-mis .group-79 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 853px;
  width: 425px;
}

.ventana-de-mis .overlap-group-12 {
  background-image: url(../../../static/img/rectangle-45.svg);
  background-size: 100% 100%;
  height: 66px;
  position: relative;
  width: 421px;
}

.ventana-de-mis .text-wrapper-145 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 161px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 100px;
}

.ventana-de-mis .text-wrapper-146 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
  width: 421px;
}

.ventana-de-mis .group-80 {
  height: 50px;
  left: 447px;
  position: absolute;
  top: 55px;
  transition: all 0.2s ease;
  width: 242px;
}

.ventana-de-mis .group-80:hover {
  transform: scale(1.1);
}

.ventana-de-mis .overlap-34 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 7px;
  height: 50px;
  position: relative;
  width: 240px;
}

.ventana-de-mis .text-wrapper-147 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
}

.ventana-de-mis .mas-2 {
  height: 30px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 30px;
}

.ventana-de-mis .group-81 {
  height: 70px;
  left: 468px;
  position: absolute;
  top: 146px;
  width: 352px;
}

.ventana-de-mis .overlap-35 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 70px;
  position: relative;
  width: 350px;
}

.ventana-de-mis .tres-puntos {
  height: 40px;
  left: 309px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 40px;
}

.ventana-de-mis .text-wrapper-148 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 97px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.ventana-de-mis .carpetita {
  height: 55px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 55px;
}

.ventana-de-mis .group-82 {
  height: 358px;
  left: 468px;
  position: absolute;
  top: 244px;
  width: 232px;
}

.ventana-de-mis .overlap-36 {
  height: 358px;
  position: relative;
  width: 234px;
}

.ventana-de-mis .group-83 {
  height: 358px;
  left: 0;
  position: absolute;
  top: 0;
  width: 234px;
}

.ventana-de-mis .text-wrapper-149 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 197px;
}

.ventana-de-mis .image-8 {
  height: 300px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 232px;
}

.ventana-de-mis .group-84 {
  background-image: url(../../../static/img/tres-puntos-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 29px;
  left: 203px;
  position: absolute;
  top: 314px;
  width: 29px;
}

.ventana-de-mis .group-85 {
  height: 40px;
  left: 1779px;
  position: absolute;
  top: 46px;
  width: 109px;
}

.ventana-de-mis .overlap-37 {
  height: 40px;
  position: relative;
  width: 107px;
}

.ventana-de-mis .text-wrapper-150 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 88px;
}

.ventana-de-mis .flecha-hacia-abajo-6 {
  height: 15px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 15px;
}

.ventana-de-mis .flecha-hacia-arriba-2 {
  height: 20px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 20px;
}

.ventana-de-mis .group-86 {
  height: 40px;
  left: 1525px;
  position: absolute;
  top: 45px;
  width: 202px;
}

.ventana-de-mis .documento-5 {
  height: 25px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 25px;
}

.ventana-de-mis .group-87 {
  height: 40px;
  left: 33px;
  position: absolute;
  top: 0;
  width: 169px;
}

.ventana-de-mis .group-88 {
  height: 40px;
}

.ventana-de-mis .group-89 {
  height: 40px;
  width: 169px;
}

.ventana-de-mis .group-90 {
  height: 40px;
  position: relative;
  width: 171px;
}

.ventana-de-mis .text-wrapper-151 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 169px;
}

.ventana-de-mis .overlap-38 {
  height: 473px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 421px;
}

.ventana-de-mis .group-91 {
  height: 461px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 403px;
}

.ventana-de-mis .group-92 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 404px;
}

.ventana-de-mis .text-wrapper-152 {
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 76px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 14px;
  width: 325px;
}

.ventana-de-mis .img-8 {
  height: 65px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 65px;
}

.ventana-de-mis .group-93 {
  height: 71px;
  left: 4px;
  position: absolute;
  top: 291px;
  width: 371px;
}

.ventana-de-mis .text-wrapper-153 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 74px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  width: 295px;
}

.ventana-de-mis .exportar-7 {
  height: 65px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 60px;
}

.ventana-de-mis .group-94 {
  height: 65px;
  left: 4px;
  position: absolute;
  top: 396px;
  width: 365px;
}

.ventana-de-mis .text-wrapper-154 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  width: 295px;
}

.ventana-de-mis .importar-7 {
  height: 65px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.ventana-de-mis .group-95 {
  height: 45px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 123px;
}

.ventana-de-mis .text-wrapper-155 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.ventana-de-mis .group-96 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 91px;
  width: 405px;
}

.ventana-de-mis .text-wrapper-156 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 34px;
  font-weight: 400;
  left: 77px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 13px;
  width: 326px;
}

.ventana-de-mis .expediente-4 {
  height: 65px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 65px;
}

.ventana-de-mis .rectangle-55 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 196px;
  width: 421px;
}

.ventana-de-mis .group-97 {
  height: 65px;
  left: 10px;
  position: absolute;
  top: 769px;
  width: 263px;
}

.ventana-de-mis .text-wrapper-157 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 34px;
  font-weight: 400;
  height: 65px;
  left: 68px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  width: 193px;
}

.ventana-de-mis .text-wrapper-158 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 421px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 123px;
  white-space: nowrap;
}

.ventana-de-mis .overlap-39 {
  height: 29px;
  left: 516px;
  position: absolute;
  top: 126px;
  width: 374px;
}

.ventana-de-mis .rectangle-56 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 28px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 348px;
}

.ventana-de-mis .rectangle-57 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  height: 28px;
  left: 346px;
  position: absolute;
  top: 1px;
  width: 28px;
}

.ventana-de-mis .text-wrapper-159 {
  color: #000000;
  font-family: "Afacad", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 346px;
}

.ventana-de-mis .flecha-hacia-abajo-7 {
  height: 15px;
  left: 352px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 15px;
}

.ventana-de-mis .overlap-40 {
  height: 37px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 1922px;
}

.ventana-de-mis .rectangle-58 {
  background-color: #4f4f4f;
  border: 1px solid;
  border-color: #000000;
  height: 35px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1922px;
}

.ventana-de-mis .text-wrapper-160 {
  color: #ffffff;
  font-family: "Afacad", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ventana-de-mis .text-wrapper-161 {
  color: #ffffff;
  font-family: "Afacad", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 126px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ventana-de-mis .text-wrapper-162 {
  color: #ffffff;
  font-family: "Afacad", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 220px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ventana-de-mis .group-98 {
  height: 35px;
  left: 1728px;
  position: absolute;
  top: 2px;
  width: 150px;
}

.ventana-de-mis .text-wrapper-163 {
  color: #ffffff;
  font-family: "Afacad", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ventana-de-mis .image-9 {
  height: 28px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 28px;
}
